dataTypes
operators
variables
ifelesedemo
loops
match_demo
struct_demo
enum_demo
union_demo
options_demo
array_demo
slice_demo
tuples_demo
pattern_matching
generics_demo
vectors_demo
hash_map_demo
range_include_demo
hash_set_demo
string_demo
string_format
guessing_game
functions_demo
methods_demo
closure_demo
hof_demo
trait_demo
AnimalTrait
trait_parameters
